@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor-01: ;
    --cor-02: ;
    --cor-03: ;
}

@media screen and (min-width: 992px) {

    /* Menu No Desktop */
    header {
        padding: 50px 50px;
    }

    span#burguer {
        display: none;
    }
    
    menu {
        display: none;
    }

    nav {
        display: block;
    }
    
}