@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --cor-01: #3cac6e;
    --cor-02: #7ed851;
    --cor-03: #23d9b7;
    --cor-04: #0e8f4f;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-image: linear-gradient(to right, #c9f8de, #e2faf0);
}

section#home {
    width: 100%;
    height: 850px;

}

header {
    position: fixed;
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 20px 15px;

}

header > #logo:hover {
    cursor: pointer;
    transform: scale(120%);
    transition: all 0.5s;
}

nav {
    display: none;
}

nav a {
    margin: 20px;
    background-color:  transparent;
    text-decoration: none;
    border-radius: 20px;
    color: #3cac6e;
}

nav a:hover {
    padding: 10px 15px;
    transition: all 1s;
    color: white;
    background-color: #7ed851;
    background-image: linear-gradient(to bottom, #7ed851, #23d9b7);
}

span#burguer:hover {
    cursor: pointer;
}

header > menu {
    position: absolute;
    left: 50%;
    margin-top: 50px;
    transform: translate(-50%);
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
}

header > menu a {
    display: block;
    padding: 5px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #0e8f4f;
    background-color: #056e2a2d;
}

header > menu a:hover {
    background-color: rgb(126, 234, 167);
    color: white;
    transition: all 0.5s;
}

/* Home Page */
#HomeContent {
    width: 100%;
    height: 360px;
    margin: auto;
    padding: 20px;
    padding-top: 500px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#HomeContent > img {
    border: 5px solid #7ed851;
    border-radius: 20px;
    width: 280px;
    margin: 20px;
}

#HomeContent > h2 {
    font-size: 2em;
    text-align: ;
    margin-top: 10px;
    width: 400px;
    color: var(--cor-04);
    margin-left: 26%;
}

/* Sobre Page */
section#sobre {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: auto 20px;
    margin-top: 150px;
    padding: 20px;
    border-radius: 30px;
    background-color: transparent;
    z-index: 1;
    max-width: 500px;
}

section#sobre::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 34px; 
    padding: 5px; 
    background: linear-gradient(to right, #23d9b7, #7ed851);
    -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
}

section#sobre h1 {
    font-size: 1.8em;
    text-align: center;
    padding: 10px;
    color: var(--cor-04);
}

section#sobre > span#Nome {
    color: var(--cor-02);
}