@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor-01: ;
    --cor-02: ;
    --cor-03: ;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

section#home {
    width: 100%;
    height: 900px;
    background-image: linear-gradient(to right, #c9f8de, #e2faf0);
}

header {
    position: fixed;
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
}

header > #logo:hover {
    cursor: pointer;
    transform: scale(120%);
    transition: all 0.5s;
}

nav {
    display: none;
}

nav a {
    margin: 20px;
    background-color:  transparent;
    text-decoration: none;
    border-radius: 20px;
    color: #3cac6e;
}

nav a:hover {
    padding: 10px 15px;
    transition: all 1s;
    color: white;
    background-color: #7ed851;
    background-image: linear-gradient(to bottom, #7ed851, #23d9b7);
}

span#burguer:hover {
    cursor: pointer;
}

header > menu {
    position: absolute;
    left: 50%;
    margin-top: 50px;
    transform: translate(-50%);
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
}

header > menu a {
    display: block;
    padding: 5px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #0e8f4f;
    background-color: #056e2a2d;
}

header > menu a:hover {
    background-color: rgb(126, 234, 167);
    color: white;
    transition: all 0.5s;
}




#gab {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#gab > img {
    margin-top: 170px;
    width: 23%;
}

#gab > h2 {
    width: 600px;
    margin-top: 300px;

    font-size: 2.3em;
    color: #0e8f4f;
}